<% provide(:title, "Help") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | OPTIMIZR</title>
  </head>
  <body>
    <h1>What's the Deal</h1>
    <p>
      OPTIMIZR was born out of an idea from Sara Knechtel that optimizing your card
      spend shouldn't be difficult, when in fact it's almost impossible to do without
      spending tons of time analyzing reward structures.  She thought there must be a
      way to automate this.  Dan Struble is now attempting to automate this.  And it
      likely will prove to be too challenging for his beginner engineer roots, but he's
      stubborn so we'll see what happens.  
    </p>
  </body>
</html>
