<% provide(:title, "Help") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | OPTIMIZR</title>
  </head>
  <body>
    <h1>Get Ready for Awesome</h1>
    <p>
      You won't need help.  
    </p>
  </body>
</html>
