<% provide(:title, "Help") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | OPTIMIZR</title>
  </head>
  <body>
    <h1>Help?</h1>
    <p>
      You won't need help.  It will be fool proof and bug free.  Yeah, right!  FAQs
      will be coming soon.  
    </p>
  </body>
</html>
