<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | OPTIMIZR</title>



<div class="center jumbotron">
  <h1>Get Ready for Awesome</h1>
  <p>
    You ready to optimize your credit card spend?
  </p>

  <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
</div>
